services:
  redis:
    image: 'redis:latest'
    ports:
      - 6379:6379
    entrypoint: redis-server --save 20 1 --requirepass secret
    volumes:
      - redis_data:/data
    
volumes:
  redis_data:
